/* @media (max-width: 1800px) { */
  .search-message::placeholder {
    font-size: 12px;
  }
     .mobile-search-input,
     .mobile-search-input:focus {
       background: rgba(196, 196, 196, 0.3) !important;
       border-radius: 50px !important;
       box-shadow: none;
       border: none;
     }
         .search-message {
           padding: 17px 17px;
           width: 100%;
           background: rgba(196, 196, 196, 0.3);
           border-radius: 50px;
           border: none;
         }
    
         
/* } */

/* .search-message input {
  padding: 17px 17px;
  width: 100%;
  background: rgba(196, 196, 196, 0.3);
  border-radius: 50px;
  border: none;
} */
@media only screen and (max-width: 500px) {
  .profile-card-message {
    height: auto;
    width: 100% !important;
    box-shadow: 0px 2px 4px rgba(22, 22, 22, 0.3);
    border-radius: 5px 5px 0 0;
    padding: 20px 0;
  }
  .detach-notification-icon {
    border-radius: 50%;
    background: purple !important;
    color: white;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    position: absolute;
    right: -30px;
    top: 3px;
  }
  .chat-parent-container {
    position: absolute;
    top: 0;
    margin: auto;
  }
  .message-nav-item {
    font-weight: 600;
    font-size: 24.9436px;
    color: #3a3a3a;
    margin: auto;
    position: relative;
  }
  .message-nav-item:last-child.active::before {
    content: "";
    width: 110px;
    height: 2em;
    position: absolute;
    bottom: 0;
    left: -10px !important;
    border-bottom: 3.11795px solid #2c199f;
  }
  .font-10{
    font-size: 1.2rem !important;
  }
}

.chat-parent-container {
  position: absolute;
  top: 0;
  right: 0;
}
.font-10 {
  font-size: 1.1rem !important;
}
.small-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #3a3a3a;
}
.big-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.username {
  top: 0px;
  background: rgb(255, 255, 255) !important;
  position: sticky;
  z-index: 1;
  padding: 2px 19px;
  /* width: 97.6%; */
}

.tab-navbar-message {
  top: 99px;
  background: #fff !important;
  position: sticky;
  width: 100%;
  z-index: 1;
}
.profile-text-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #3a3a3a;
}
.profile-text-username {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #3a3a3a;
}
.profile-card-message {
  height: auto;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(22, 22, 22, 0.3);
  border-radius: 5px 5px 0 0;
  padding: 20px 0;
  background: #fff;
}

.image-container {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid white;
  display: ex;
  align-items: center;
}


.detach-notification {
  position: relative;
}
.detach-notification-icon {
  border-radius: 50%;
  background: purple;
  color: white;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  font-size: 13px;
  position: absolute;
  right: -30px;
  top: 0px;
}

.border-line {
  border-right: 2px solid #d7d7d7;
  height: 45px;
  transform: rotate(0deg);
}

.message-nav-item {
  font-weight: 600;
  font-size: 20px;
  color: #3a3a3a;
  margin: auto;
  position: relative;
}
.message-nav-item.active::before {
  content: "";
  width: 120px;
  height: 2em;
  position: absolute;
  bottom: 0;
  left: -40px;
  border-bottom: 3.11795px solid #2c199f;
}

.message-nav-item:last-child.active::before {
  content: "";
  width: 100px;
  height: 2em;
  position: absolute;
  bottom: 0;
  left: -10px;
  border-bottom: 3.11795px solid #2c199f;
}

.notification-wrapper {
  margin-bottom: 30px;
  padding: 0 20px;
}

.message-items {
  line-height: 29px;
  font-family: "Open Sans";
  cursor: pointer;
  font-weight: 600;
  font-size: 21.3949px;
  color: #3a3a3a;
  margin: auto;
  position: relative;
  padding: 10px 15px;
}

.message-items.active::before {
  content: "";
  width: 110px;
  height: 2em;
  position: absolute;
  bottom: 10px;
  left: -30px;
  border-bottom: 3.11795px solid #2c199f;
}

.message-items:last-child.active::before {
  content: "";
  width: 110px;
  height: 2em;
  position: absolute;
  bottom: 0;
  left: 65px;
  border-bottom: 3.11795px solid #2c199f;
}
.fix {
  position: sticky;
  top: 0;
  z-index: 1;
}

.chat {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 26px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.chat-details {
  margin-left: 8px;
}
.chat-header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15.88px;
  line-height: 22px;
  color: #3a3a3a;
}
.chat-author {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12.4771px;
  line-height: 17px;
  color: #b7b7b7;
}
.chat-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11.3429px;
  line-height: 15px;
  color: #3a3a3a;
  text-align: left;
}
.chat-time {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11.3429px;
  line-height: 15px;
  color: #3a3a3a;
  text-align: left;
  position: absolute;
  top: 20px;
}

.justify {
  justify-content: space-between;
  align-items: center;
}
